<div class="UserInput">
  <h2 class="UserInput--title">ユーザー情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname, "ニックネーム", class: "field--item" %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "field--input" %>
    </div>

    <div class="field">
      <%= f.label :email, "Eメール", class: "field--item" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field--input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password, "登録中のパスワード", class: "field--item"%><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "field--input" %>
    </div>

    <div class="actions">
      <%= f.submit "変更する", class: "actions--btn" %>
    </div>
  <% end %>

  <%= link_to "戻る", :back, class: "return" %>
</div>