.userShow
  .userShow--userName
    = "#{@user.name}さんの投稿"
  .userShow__contents
    .userGroupsIndex
      .userGroupsIndex--title
        投稿カテゴリー
      - @groups.each do |group|
        .userGroupsIndex__items
          = link_to "#{group.name}(#{@group_id.count(group.id)})", "#", class: "userGroupsIndex__items--name"
    = render partial: "post"
    = render partial: "category"
