.userShow
  .userShow--userName
    = "#{@user.name}さんの投稿"
  .userShow__contents
    .userGroupsIndex
      .userGroupsIndex--title
        投稿カテゴリー
      - @groups.each do |group|
        .userGroupsIndex__items
          = link_to "#{group.name}(#{@group_id.count(group.id)})", "#", class: "userGroupsIndex__items--name"
    .userPosts
      - @posts.each do |post|
        .userPosts__post
          .userPosts__post--text
            - if post.text.present?
              = post.text
            - if post.image.present?
              = image_tag post.image_url, class: "userPosts__post--image"
          .userPosts__post__details
            = link_to "コメント ( #{post.comments.length} )", "#", class: "userPosts__post__details--comments"
            = post.created_at.strftime("%Y年%m月%d日 %H:%M:%S")



