.NewPost
  .NewPost--title
    新規投稿
  = form_with model: @post, class: "NewPost__form", local: true do |f|
    = link_to do
      %i.fas.fa-tag.NewPost__form__label--icon#tag
    %ul.GroupTags
      - @groups.each do |group|
        .GroupTags__button
          %li= f.radio_button :group_id, group.id, id: group.id, class: "GroupTags__button--tag"
          = f.label group.name, for: group.id, class: "GroupTags__button--label"
    = f.label :image, class: "NewPost__form__label"  do
      %i.fas.fa-camera-retro.NewPost__form__label--icon
      = f.file_field :image, class: "NewPost__form__label--file"
    = f.text_area :text, autofocus: true, class: "NewPost__form--text"
    = f.submit "投稿", class: "NewPost__form--btn"