.NewPost
  .NewPost--title
    投稿内容編集
  = form_with model: @post, class: "NewPost__form", local: true do |f|
    = render "layouts/error_messages", model: f.object
    = link_to do
      %i.fas.fa-tag.NewPost__form__label--icon#tag
    %ul.GroupTags
      - @groups.each do |group|
        .GroupTags__button
          %li= f.radio_button :group_id, group.id, id: group.id, class: "GroupTags__button--tag"
          = f.label group.name, for: group.id, class: "GroupTags__button--label"
    = f.text_area :text, autofocus: true, class: "NewPost__form--text"
    .NewPost__form__imageForm
      - if @images.present?
        - @images.each_with_index do |image, i|
          %div{class: "NewPost__form__imageForm__item", id: "imageItem#{i}"}
            = image_tag image.image_url, class: "NewPost__form__imageForm__item--pict", id: "imageTag#{i}"
            %div{class: "pictBtns", id: "pictBtns#{i}"}
              %a{class: "editBtn pictBtn fas fa-images", id: "editBtn#{i}", name: "#{i}"}
              %a{class: "deleteBtn pictBtn fas fa-trash-alt", id: "deleteBtn#{i}", name: "#{i}"}
      = f.label :"images_attributes_#{@images.length}_image", class: "NewPost__form__imageForm__imageBox" do
        %p.NewPost__form__imageForm__imageBox--text 
          クリックしてファイルをアップロード
        = f.fields_for :images do |a|
          = a.file_field :image, class: "imageFile"
          = a.check_box:_destroy, class: "checkBox"
        - @images.length.upto(5) do |i|
          %input{name: "post[images_attributes][#{i}][image]", id: "post_images_attributes_#{i}_image", type:"file", class: "imageFile"}
    = f.submit "投稿", class: "NewPost__form--btn"

