.postShow
  .postShow__content
    .postShow__content__details
      = link_to @post.group.name, group_path(@post.group.id), class: "postShow__content__details--groupName"
      = link_to @post.user.name, user_path(@post.user.id), class: "postShow__content__details--userName"
      .postShow__content__details--time
        = @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S")
    - if @post.text.present?
      .postShow__content--text
        = @post.text
    - if @post.image.present?
      = image_tag @post.image_url, class: "postShow__content--image"
    .comments
      .comments--title
        = "コメント ( #{@comments.length} )"
      = form_with(model: [@post, @comment], local: true, class: "comments__form") do |f|
        = f.text_area :text, placeholder: "comment...", class: "comments__form--input"
        = f.submit "投稿", class: "comments__form--button"
      .comments__index
        - @comments.each do |comment|
          .userComment
            .userComment--text
              = comment.text
            .userComment__details
              = link_to comment.user.name, user_path(@post.user.id), class: "userComment__details--name"
              .userComment__details--time
                = comment.created_at.strftime("%Y年%m月%d日 %H:%M:%S")
