.PostsIndexPosts
  - @posts.each do |post|
    .PostsIndexPosts__one
      .comand
        - if user_signed_in? && current_user.id == post.user_id
          = link_to "編集", edit_post_path(post.id), class: "comand--button"
          = link_to "削除", post_path(post.id), method: :delete, class: "comand--button", id: "comandDelete"
      .PostsIndexPosts__one--created_at
        = post.created_at.strftime("%Y年%m月%d日 %H:%M:%S")
      - if post.text.present?
        %p.PostsIndexPosts__one--text=post.text
      - if post.image.present?
        = image_tag post.image_url, class: "PostsIndexPosts__one--image"
      = link_to "コメント( #{post.comments.length} )", post_path(post.id), class: "PostsIndexPosts__one--comment"
      = link_to post.user.nickname, user_path(post.user_id), class: "PostsIndexPosts__one--userName"

